rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write access to any user who is signed in.
      allow read, write: if request.auth != null;
    }
  }
}